---
import { buttonCva } from '@components/Button.astro';
import type { Page } from 'astro';
interface Props<T> {
  page: Page<T>;
}

const { page } = Astro.props;
---

<section class="mt-6">
  <nav class="flex justify-center gap-3">
    {
      page.url.prev ? (
        <a
          href={page.url.prev}
          class:list={[
            'flex items-center gap-2 border border-default hover:bg-transparent transition-colors',
            buttonCva({ variant: 'solid', size: 'md', radius: 'md' }),
          ]}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
            />
          </svg>
          Prev
        </a>
      ) : null
    }
    {
      page.url.next ? (
        <a
          href={page.url.next}
          class:list={[
            'flex items-center gap-2 border border-default hover:bg-transparent transition-colors',
            buttonCva({ variant: 'solid', size: 'md', radius: 'md' }),
          ]}
        >
          Next{' '}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
            />
          </svg>
        </a>
      ) : null
    }
  </nav>
</section>
