---
import { type CollectionEntry, getCollection } from 'astro:content';
import ProjectCard from '@/components/card/ProjectCard.astro';
import PagePagination from '@/components/pagination/PagePagination.astro';
import Heading2 from '@/components/typography/Heading2.astro';
import Text from '@/components/typography/Text.astro';
import Layout from '@/layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import type { Page } from 'astro';
import { compareDesc } from 'date-fns';

export const getStaticPaths = (async ({ paginate }) => {
  const allProjects = await getCollection('projects');
  const sortedProjects = allProjects.sort((a, b) => compareDesc(a.data.date, b.data.date));
  return paginate(sortedProjects, { pageSize: 6 });
}) as GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<'projects'>>;
}

const { page } = Astro.props;
const url = new URL(`/projects/page/${page.currentPage}`, Astro.site);
---

<Layout
  title="Projects"
  url={url.href}
  description="Showcase of the projects I've work on"
>
  <div class="py-4"></div>
  <Heading2 classNames="text-center">Projects</Heading2>
  <Text variant="body1" className="text-center text-foreground/70">
    Showcase of the projects I've work on
  </Text>
  <div class="py-5"></div>
  <section class="grid w-full grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {page.data.map((project) => <ProjectCard project={project} />)}
  </section>
  <PagePagination page={page} />
</Layout>
