.TabGroup {
  display: flex;
  border-bottom: 4px solid #413c58;
}

.TabGroup button,
.TabGroup a {
  flex: 1;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0;
  cursor: pointer;
  padding: 0.6rem 1rem;
  color: #fff;
  border-bottom: 4px solid transparent;
  margin-bottom: -4px;
  background-color: transparent;
  text-decoration: none;
}
.TabGroup .active,
.TabGroup [aria-selected='true'] {
  color: #f2bb02;
  /* border-bottom-color: var(--theme-accent); */
  font-weight: bold;
}

@media (forced-colors: active) {
  .TabGroup {
    border-bottom-color: #413c58;
  }

  .TabGroup .active {
    color: #1e293b;
    border-bottom-color: #1e293b;
  }

  .TabGroup a,
  .TabGroup button {
    color: #fff;
    border-bottom-color: #413c58;
  }
}

.TabGroup.no-flex button,
.TabGroup.no-flex a {
  flex: 0;
}
