---
interface Props {
  variant: "body1" | "body2" | "body3" | "label1" | "label2";
  className?: string;
}

const { variant, className } = Astro.props;
---

<p
  class:list={[
    className,
    variant === "body1" && "text-base",
    variant === "body2" && "text-sm",
    variant === "body3" && "text-xs",
    variant === "label1" && "text-sm font-medium",
    variant === "label2" && "text-xs font-medium",
  ]}
>
  <slot />
</p>
