---
import type { CollectionEntry } from 'astro:content';
import Chip from '@components/Chip.astro';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<div
  class="group flex flex-col justify-between p-4 gap-3 rounded-sm cursor-pointer border border-default-100 hover:bg-content1 transition-transform ease-in-out hover:scale-[1.02]"
>
  <h3 class="text-lg font-bold hover:text-primary transition-colors line-clamp-2">
    <a href={`/projects/${project.slug}`}>{project.data.title}</a>
  </h3>

  <p class="line-clamp-3 text-foreground/70">{project.data.description}</p>
  <div class="flex flex-wrap gap-2">
    {
      project.data.tech?.map((tech) => (
        <Chip variant="bordered" radius="sm" size="sm" class="border-default">
          {tech}
        </Chip>
      ))
    }
  </div>
</div>
