---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const about = await getEntry("about", "about");
if (!about) {
  throw new Error("About content is empty");
}
const { Content } = await about.render();
const url = new URL("/about", Astro.site);
---

<Layout
  title="About Me"
  url={url.href}
  description="A passionate software engineer with a knack for turning complex problems into elegant solutions"
>
  <div class="py-4"></div>
  <div id="content-space" class="prose prose-invert max-w-3xl mx-auto">
    <Content />
  </div>
</Layout>
