---
import type { HTMLAttributes } from 'astro/types';
import { cva, type VariantProps } from 'class-variance-authority';

const chip = cva('chip', {
	variants: {
		variant: {
			solid: 'bg-default',
			light: 'bg-transparent',
			bordered: 'border-2 bg-transparent',
		},
		radius: {
			none: 'rounded-none',
			sm: 'rounded-sm',
			md: 'rounded',
			lg: 'rounded-lg',
			full: 'rounded-full',
		},
		size: {
			sm: 'p-1.5 text-sm leading-none',
			md: 'p-1.5 text-base leading-none',
			lg: 'p-1.5 text-lg leading-none',
		},
	},
});

export interface Props extends Omit<HTMLAttributes<'div'>, 'color'>, VariantProps<typeof chip> {}

const { class: className, variant = 'solid', size = 'md', radius = 'md', ...rest } = Astro.props;
---

<div class={chip({ className, variant, size, radius })} {...rest}>
	<slot />
</div>
