---
interface Props {
  username: string;
  url: string;
  img: string;
}

const { username, url, img } = Astro.props;
---

<div
  class="flex items-center flex-start gap-2 border border-gray-800 p-2 rounded hover:scale-105 hover:cursor-pointer transition"
>
  <img
    src={img}
    alt={username}
    class="object-fill rounded-full"
    width={30}
    height={30}
  />
  <div>
    <a href={url} target="_blank" rel="noreferrer" class="font-bold">
      @{username}
    </a>
  </div>
</div>
