---
import { Image } from "astro:assets";
interface Props {
  username: string;
  url: string;
  img: string;
}

const { username, url, img } = Astro.props;
---

<div
  class="flex-start flex items-center gap-2 rounded-sm border p-2 transition-transform hover:scale-105 hover:cursor-pointer motion-reduce:transition-none motion-reduce:hover:scale-100"
>
  <Image
    src={img}
    alt={username}
    class="rounded-full object-fill"
    width={30}
    height={30}
  />
  <div>
    <a
      href={url}
      target="_blank"
      rel="noreferrer"
      class="rounded-sm font-bold focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background"
    >
      @{username}
    </a>
  </div>
</div>
