---
const links = [
  { name: 'Home', url: '/' },
  { name: 'Blog', url: '/blog/page/1' },
  { name: 'Projects', url: '/projects/page/1' },
  { name: 'About', url: '/about' },
];
---

<header
  class='sticky top-0 z-50 w-full border-b border-slate-500/40 bg-darkPrimary p-1'
>
  <div class='container mx-auto px-3 xl:px-14 2xl:max-w-7xl'>
    <nav class='flex items-center gap-2 py-2 text-sm sm:text-base'>
      {
        links.map((link) => (
          <a href={link.url}>
            <p class='cursor-pointer px-1 py-0.5 font-bold transition-colors duration-300 hover:rounded hover:bg-darkSecondary hover:text-blueAccent'>
              {link.name}
            </p>
          </a>
        ))
      }
    </nav>
  </div>
</header>
